<section class="vw-footer">
    <div class="vw-footer__top-section">
        <div class="vw-footer__site-branding">
            <a class="vw-footer__logo-link" href="{{site.url}}" rel="home">
                <img src="{{ theme.link }}/assets/img/gras-r-tarinn.svg" alt="Footer Logo">
            </a>
        </div>
        <div class="vw-footer__menu">
            {% include "menu.twig" with {'menu': footer_menu.get_items, 'has_children': false } %}
            <div class="vw-footer__wp-admin">
                <a href="/wp-admin">
                    Stjórnendagátt
                </a>
            </div>
        </div>
    </div>
    <div class="vw-footer__bottom-section">
        <div class="vw-footer__socials">
            <a href="https://www.facebook.com/Piratar.Island/" target="_blank">
                <img src="{{ theme.link }}/assets/img/facebook-icon.svg" class="vw-footer__social-icon"alt="Facebook Icon">
            </a>
            <a href="https://www.instagram.com/piratar/" target="_blank">
                <img src="{{ theme.link }}/assets/img/instagram-icon.svg" class="vw-footer__social-icon"alt="Instagram Icon">
            </a>
            <a href="https://twitter.com/piratepartyis" target="_blank">
                <img src="{{ theme.link }}/assets/img/twitter-icon.svg" class="vw-footer__social-icon" alt="Twitter Icon">
            </a>
        </div>

        <div class="vw-footer__copyright">
            Grasrótarinn - Píratar {{"now"|date('Y')}}. Allur Réttur Áskilin.
        </div>
    </div>


</section>
